#terminal-output {
  background-color: black;
  color: white;
  padding: 10px;
  font-family: monospace;
  overflow-y: scroll;
  height: 300px;
  line-height: 1.4; /* Adjust the line height for better readability */
}

.command-output {
  margin: 0;
  white-space: pre-wrap; /* Preserve line breaks and wrap long lines */
}

#command-form {
  margin-top: 10px;
}

#command-input {
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-family: monospace;
  caret-color: lime; /* Change the color of the caret to lime */
}

#command-input::placeholder {
  color: gray;
}

#command-input:focus {
  outline: none;
}

#command-input:focus::placeholder {
  color: transparent;
}

/* Style the cursor */
.command-cursor {
  display: inline-block;
  background-color: white;
  color: black;
  margin-left: 2px;
  animation: blink-caret 0.7s infinite;
}

@keyframes blink-caret {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: white;
  }
}
