body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 150px; /* Adjust the width as needed */
  background-color: black; /* Set the background color for the sidebar */
}

#terminal-output {
  flex: 1;
  background-color: black;
  color: white;
  padding: 10px;
  font-family: monospace;
  overflow-y: scroll;
  height: 450px;
}

.command-output {
  margin: 0;
  white-space: pre-line;
}

#command-form {
  margin-top: 10px;
}

#command-input {
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  font-family: monospace;
}

#command-input::placeholder {
  color: gray;
}

#command-input:focus {
  outline: none;
}

#command-input:focus::placeholder {
  color: transparent;
}
